bin/
out/
gen/
*.swp
.settings
.DS_Store
CoreV3/libs/*.jar
CoreV3/local.properties
Ushahidi/libs/*.jar
Ushahidi/local.properties
Beijing/local.properties
Inherity/local.properties
Iccm/local.properties
